<h1>Listing site_settings</h1>

<table>
  <thead>
    <tr>
      <th>Site name</th>
      <th>Logo</th>
      <th>Favicon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @site_settings.each do |site_setting| %>
      <tr>
        <td><%= site_setting.site_name %></td>
        <td><%= site_setting.logo %></td>
        <td><%= site_setting.favicon %></td>
        <td><%= link_to 'Show', site_setting %></td>
        <td><%= link_to 'Edit', edit_site_setting_path(site_setting) %></td>
        <td><%= link_to 'Destroy', site_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Site setting', new_site_setting_path %>
