<p id="notice"><%= notice %></p>

<p>
  <strong>Site name:</strong>
  <%= @site_setting.site_name %>
</p>

<p>
  <strong>Logo:</strong>
  <%= image_tag @site_setting.logo %>
</p>

<p>
  <strong>Favicon:</strong>
  <%= image_tag @site_setting.favicon %>
</p>

<div class="panel panel-default">
  <div class="panel-heading">contact_form_text:</div>
  <div class="panel-body">
  <%= raw @site_setting.contact_form_text %>
  </div>
</div>

<%= link_to 'Edit', edit_site_setting_path(@site_setting), class: "btn btn-success" %>
