<ul class="breadcrumb">
  <li><%= link_to "Home", root_path %></li>
  <% if params[:category] %>
    <li><%= link_to "News", blogs_path %></li>
    <li class="active"><%= params[:category] %></li>
  <% elsif params[:action] == "show" %>
    <li><%= link_to "News", blogs_path %></li>
    <li><%= link_to @blog.category, blogs_path(category: @blog.category) %></li>
    <li class="active"><%= @blog.title %></li>
  <% else %>
    <li class="active">News</li>
  <% end %>
</ul>
