<%= simple_form_for @slideshow, wrapper: :bootstrap, html: {class: '' }, 
  defaults: {
    input_html: { class: 'form-control' }
  } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :transition, collection: ["fade"], include_blank: false %>
    <%= f.input :slotamount, hint: "(0 - 8) 0 = random" %>
    <%= f.input :masterspeed, hint: "(slide changing)" %>
    <%= f.input :delay %>
    <%= f.input :background %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
