<%= simple_form_for(@slideshow) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :background %>
    <%= f.input :transition, collection: ["fade"], include_blank: false %>
    <%= f.input :slotamount, hint: "(0 - 8) 0 = random" %>
    <%= f.input :masterspeed, hint: "(slide changing)" %>
    <%= f.input :delay %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
