<h1>Listing slideshows</h1>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>order</th>
      <th>Transition</th>
      <th>Slotamount</th>
      <th>Masterspeed</th>
      <th>Delay</th>
      <th>Background</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @slideshows.each do |slideshow| %>
      <tr>
        <td><%= slideshow.name %></td>
        <td><%= slideshow.order %></td>
        <td><%= slideshow.transition %></td>
        <td><%= slideshow.slotamount %></td>
        <td><%= slideshow.masterspeed %></td>
        <td><%= slideshow.delay %></td>
        <td><%= image_tag slideshow.background, class: "img-responsive" %></td>
        <td><%= link_to 'Show', slideshow,class: "btn btn-info"  %></td>
        <td><%= link_to 'Edit', edit_slideshow_path(slideshow),class: "btn btn-success" %></td>
        <td><%= link_to 'Destroy', slideshow, method: :delete,class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Slideshow', new_slideshow_path, class: "btn btn-primary" %>
