<p id="notice"><%= notice %></p>

<p>
  <strong>Background:</strong>
  <%= image_tag @slideshow.background.url(:bg), class: "img-responsive" %>
</p>

<p>
  <strong>Transition:</strong>
  <%= @slideshow.transition %>
</p>

<p>
  <strong>Slotamount:</strong>
  <%= @slideshow.slotamount %>
</p>

<p>
  <strong>Masterspeed(slide changing):</strong>
  <%= @slideshow.masterspeed %>
</p>

<p>
  <strong>Delay:</strong>
  <%= @slideshow.delay %>
</p>

<%= link_to 'Edit', edit_slideshow_path(@slideshow) %> |
<%= link_to 'Back', slideshows_path %>

<%= render 'elements/table', elements: @slideshow.elements %>
<%= link_to 'new element', new_slideshow_element_path(slideshow_id: @slideshow) %>
