<table  class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>id</th>
      <th>Tag</th>
      <th>Klass</th>
      <th>Body</th>
      <th>Href</th>
      <th>X</th>
      <th>Y</th>
      <th>Speed</th>
      <th>Start</th>
      <th>Easing</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% elements.each do |element| %>
      <tr>
        <td><%= element.id %></td>
        <td><%= element.tag %></td>
        <td><%= element.klass %></td>
        <td><%= element.body %></td>
        <td><%= element.href %></td>
        <td><%= element.x %></td>
        <td><%= element.y %></td>
        <td><%= element.speed %></td>
        <td><%= element.start %></td>
        <td><%= element.easing %></td>
        <td><%= image_tag(element.photo, class: "img-thumbnail", size: "100") if element.photo.present? %><td>
        <td><%= link_to 'Show', [@slideshow, element], class: "btn btn-info btn-xs btn-block"  %>
        <%= link_to 'Edit', [:edit, @slideshow, element], class: "btn btn-success btn-xs btn-block"  %>
        <%= link_to 'Destroy',  [@slideshow, element] , method: :delete, class: "btn btn-danger btn-xs btn-block" , data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>