<div id="losungen_boxes" class="row margin-bottom-10">
  <!-- BEGIN CONTENT -->
  <div class="col-md-12 col-sm-12">
    <div class="content-page">
      <div class="row">
        <!-- BEGIN SERVICE BLOCKS -->
        <div class="row margin-bottom-20">
          <div class="col-xs-6 col-md-3">
            <%= link_to (Page.find_by title: "Disco, Club & Events") do %>
              <div class="service-box-v1">
                <span class="losungen_pictogram disco"></span>
                <h2>Disco & Club</h2>
                <h2>Events</h2>
              </div>
            <% end %>
          </div>

          <div class="col-xs-6 col-md-3">
            <%= link_to (Page.find_by title: "Schulverpflegung & Kitas") do %>
              <div class="service-box-v1">
                <span class="losungen_pictogram kitas"></span>
                <h2>Schulverpflegung</h2>
                <h2>Kitas</h2>
              </div>
            <% end %>
          </div>

          <div class="col-xs-6 col-md-3">
            <%= link_to (Page.find_by title: "Betriebsrestaurant & Mensa") do %>
              <div class="service-box-v1">
                <span class="losungen_pictogram mensa"></span>
                <h2>Betriebsrestaurant</h2>
                <h2>Mensa</h2>
              </div>
            <% end %>
          </div>

          <div class="col-xs-6 col-md-3">

            <%= link_to (Page.find_by title: "Kliniken & Rehazentren") do %>
              <div class="service-box-v1">
                <span class="losungen_pictogram reha"></span>
                <h2>Kliniken</h2>
                <h2>Reha</h2>
              </div>
            <% end %>
          </div>

        </div>
        <div class="row margin-bottom-20">
          <div class="col-xs-6 col-md-3">
            <%= link_to (Page.find_by title: "Gastronomie & Restaurant") do %>
              <div class="service-box-v1">
                <span class="losungen_pictogram restaurant"></span>
                <h2>Gastronomie</h2>
                <h2>Restaurant</h2>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= link_to (Page.find_by title: "Tourismus & Hotellerie") do %>
              <div class="service-box-v1">
                <span class="losungen_pictogram hotel"></span>
                <h2>Tourismus</h2>
                <h2>Hotellerie</h2>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= link_to (Page.find_by title: "Freizeitcenter & Bowlingcenter") do %>
              <div class="service-box-v1">
                <span class="losungen_pictogram bowling"></span>
                <h2>Freizeitcenter</h2>
                <h2>Bowlingcenter</h2>
              </div>
            <% end %>
          </div>
          <div class="col-xs-6 col-md-3">
            <%= link_to (Page.find_by title: "Stadien & Arenen") do %>
              <div class="service-box-v1">
                <span class="losungen_pictogram arenen"></span>
                <h2>Stadien</h2>
                <h2>Arenen</h2>
              </div>
            <% end %>
          </div>

        </div>
        <!-- END SERVICE BLOCKS --> 
        <!-- END BEGIN VIDEO AND TESTIMONIALS -->   
      </div>


    </div>
  </div>
</div>