<div id="admin_navbar" class="page-header navbar navbar-fixed-top">
  <!-- BEGIN HEADER INNER -->
  <div class="page-header-inner">
    <!-- BEGIN LOGO -->
    <div class="page-logo">
      <%= link_to admin_path do %>
        <%= image_tag "OPC_Logo_small.png", class: "logo-default" %>
      <% end %>
      <div class="menu-toggler sidebar-toggler hide">
        <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
      </div>
    </div>

    <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
    </a>
    <div class="top-menu">
      <ul class="nav navbar-nav pull-right">
        <li class="dropdown dropdown-quick-sidebar-toggler">
          <%= link_to root_path, class: "dropdown-toggle" do %>
            Hi, <%= current_user.email %>
          <% end %>
        </li>

        <li class="dropdown dropdown-quick-sidebar-toggler">
          <%= link_to root_path, class: "dropdown-toggle", title: "View Front End" do %>
            <i class="fa fa-eye"></i>
          <% end %>
        </li>

        <li class="dropdown dropdown-quick-sidebar-toggler">
          <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-toggle", title: "Logout" do %>
            <i class="fa fa-sign-out"></i>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="clearfix"></div>