  <div class="page-sidebar-wrapper">
    <div class="page-sidebar navbar-collapse collapse">
      <ul class="page-sidebar-menu" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
        <li class="sidebar-toggler-wrapper">
          <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
          <div class="sidebar-toggler">
          </div>
          <!-- END SIDEBAR TOGGLER BUTTON -->
        </li>

        <%= render 'layouts/admin/sidebar/dashboard' %>
        <%= render 'layouts/admin/sidebar/pages' %>
        <%= render 'layouts/admin/sidebar/blocks' %>
        <%= render 'layouts/admin/sidebar/kundens' %>
        <%= render 'layouts/admin/sidebar/news' %>
      </ul>
      <!-- END SIDEBAR MENU -->
    </div>
  </div>