<div class="blog row">
  <div class="col-md-4 col-sm-4">
    <%= link_to blog do %>
      <%= image_tag blog.medium_image, class: "img-responsive"  %>
    <% end %>
  </div>
  <div class="col-md-8 col-sm-8">
    <h2 class="title">
      <a href="<%= blog_path blog %>">
        <%= raw blog.title %>
      </a>
    </h2>
    <ul class="blog-info">
      <li><i class="fa fa-calendar"></i> <%= blog.display_date %></li>
      <li><i class="fa fa-tags"></i> <%= link_to blog.category, blogs_path(category: blog.category) %></li>
    </ul>
    <p><%= raw brief_text(blog) %></p>
    <%= link_to blog, class: "more" do %>
      Mehr lesen <i class="icon-angle-right"></i>
    <% end %>
  </div>
</div>
<hr class="blog-post-sep">
