<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @sub_page.title %>
</p>

<p>
  <strong>Seo title:</strong>
  <%= @sub_page.seo_title %>
</p>

<p>
  <strong>Body:</strong>
  <%= raw @sub_page.body %>
</p>

<!-- <p>
  <strong>Page:</strong>
  <%#= @sub_page.page %>
</p> -->

<p>
  <strong>Order:</strong>
  <%= @sub_page.order %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @sub_page.slug %>
</p>

<%= link_to 'Edit', edit_page_sub_page_path(id:@sub_page)%> |
<%= link_to 'Back', page_sub_pages_path %>
