<%= simple_form_for @page, wrapper: :bootstrap, 
  defaults: {
    input_html: { class: 'form-control' }
  }  do |f| %>
  <%=  f.error_notification %>
  <%= f.input :title, placeholder: 'Title' %>
  
  <div class="col-sm-6">
    <%= f.input :title_on_image, placeholder: 'Title on Image', input_html:{class: 'summernote1', data:{ height: "100"}} %>
  </div>
  
  <div class="col-sm-6">
    <%= f.input :subtitle_on_image, placeholder: 'SubTitle on Image', input_html:{class: 'summernote2', data:{height: "100"}} %>
  </div>

  <%= f.input :body, placeholder: 'Body', input_html:{class: 'summernote'} %>
  <%= f.input :photo, as: :file %>
  <%= f.input :pictogram, as: :file %>

  <% if params[:parent_id].present? %>

    <div class="control-group string required page_title">
      <label class="string control-label control-label" for="page_title">
        <abbr title="required">*</abbr> 
        Parent Page
      </label>
      <div class="form-group">        
        <strong class="form-control-static"><%= Page.find_by(id: params[:parent_id]).title %></strong>
        <%= hidden_field_tag :parent_id, params[:parent_id] %>
      </div>
    </div>

    <% else %>
      <%= f.input :parent_id, collection: Page.page_tree %>
    <% end %>

  <%= f.input :order, collection: -50..50, selected: f.object.order || 0 %>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      <%= f.check_box :visible_on_sidebar %>
      Visible on Left Sidebar
    </label>
  </div>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="">
      <%= f.check_box :visible_on_navbar %>
      Visible on Top Navbar
    </label>
  </div>

  <%= f.input :slug %>
  <%= f.button :submit %>
<% end %>