<% @page_title= @page.title %>
<div id="page_show">
  <%= render 'pages/show/top_image' %>
  <%= render 'pages/show/breadcrumb' %>
  <% if can? :edit, @page %>
    <%= link_to 'Edit', edit_page_path(@page) %> |
    <%= link_to 'Back', pages_path %>
  <% end %>
  <div>
    <%= raw @page.body %>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <% @page.sub_pages.order(:order).each do |sub_page| %>
        <%= raw sub_page.body %>
        <% if can? "edit", sub_page %>
          <%= link_to 'Edit', edit_page_sub_page_path(id:sub_page, page_id: @page.id)%>
        <% end %>
      <% end %>
      <% if can? "new", SubPage %>
        <br>
        <%= link_to 'New Sub page', new_page_sub_page_path(page_id: @page.id) %>
      <% end %>
    </div>
  </div>
</div>
