<a href="javascript:void(0);" class="mobi-toggler"><i class="fa fa-bars"></i></a>

<div id="navbar" class="header-navigation pull-right">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <%= render 'layouts/public/header/navbar/loesungen' %>
    <%#= render 'layouts/public/header/navbar/kartentechnologien' %>
    <li><%= link_to "news", blogs_path %></li>
    <%= render 'layouts/public/header/navbar/service' %>
    <li><%= link_to "Anfrage", static_pages_contact_us_path %></li>
    <%#= render 'layouts/public/header/navbar/anfrage' %>
    <li><a href="#" target="_blank">Partner-Area</a></li>
    <%= render 'layouts/public/header/navbar/search_form' %>
  </ul>
</div>
