<%= simple_form_for @kunden, wrapper: :bootstrap, 
  defaults: {
    input_html: { class: 'form-control' }
  } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :url %>
    <%= f.input :photo, as: :file  %>
    <%= f.input :photo_gray, as: :file  %>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <%= link_to  kundens_path, class: "btn btn-default btn-block" do %>
        <i class=" fa fa-arrow-left"></i>
        Back
      <% end %>
    </div>
    <div class="col-xs-2">
      <%= f.button :submit, class: "btn btn-success btn-block"  %>
    </div>
  </div>
  
<% end %>
