<div id="kundens-index">
  <div class="row margin-bottom-40">
    <!-- BEGIN CONTENT -->
    <div class="col-md-12 col-sm-12">
      <h3>Unsere OPC-Referenzen</h3>
      <hr>
      <div class="content-page">
          <div class="filter-v1">
            <ul class="mix-filter">
<!--               <li data-filter="all" class="filter active">Alle</li>
              <li data-filter="category_1" class="filter">Disco, Club & Events</li>
              <li data-filter="category_2" class="filter">Schulverpflegung & Kitas</li>
              <li data-filter="category_3" class="filter">Betriebsrestauration & Mensa</li>
              <li data-filter="category_4" class="filter">Kliniken & Rehazentren</li>
              <li data-filter="category_5" class="filter">Gastronomie & Restaurant</li>
              <li data-filter="category_6" class="filter">Tourismus & Hotellerie</li>
              <li data-filter="category_7" class="filter">Freizeitcenter & Bowlingcenter</li>
              <li data-filter="category_8" class="filter">Stadien & Arenen</li> -->
            </ul>
            <div class="row mix-grid thumbnails">
              <% @kundens.each do |kunden| %>
                <div class="col-md-3 col-sm-4 mix category_<%= [1,2,3,4,5,6,7,8].sample %> mix_all" style="display: block; opacity: 1; ">
                  <div class="mix-inner">
                    <div class="mix-wrapper">
                      <img alt="" src="<%= kunden.ref_image.url(:thumb) %>" class="img-responsive">
                      <p>
                        <span class="name"><%= kunden.name %></span>                         
                        <span class="city"><%= kunden.city ? kunden.city : "city"%></span>                        
                      </p>
                    </div> 

                     <div class="mix-details">
                        <h4><%= kunden.name %></h4>
                        <p class="brief_details"><%= kunden.brief_details %></p>
<!--                               <a class="mix-link"><i class="fa fa-link"></i></a>
                        <a data-rel="fancybox-button" title="Project Name" href="<%= kunden.ref_image.url %>" class="mix-preview fancybox-button"><i class="fa fa-search"></i></a> -->
                        <% if can? :edit, kunden  %>
                          <%= link_to 'Edit', edit_kunden_path(kunden) %>
                        <% end %>
                        <% if current_user and current_user.is_superadmin?  %>
                          <%= link_to 'Delete', kunden, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                     </div>           
                  </div>                       
                </div>

              <% end %>


            </div>
        </div>
      </div>
    </div>
    <!-- END CONTENT -->
  </div>
</div>


<% if can? :new, Kunden  %>
  <%= link_to 'New Kunden', new_kunden_path %>
<% end %>
