<h1>Listing kundens</h1>

<table  class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Photo</th>
      <th>Photo gray</th>
      <th>Url</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @kundens.each do |kunden| %>
      <tr>
        <td><%= kunden.name %></td>
        <td><%= image_tag kunden.photo.url %></td>
        <td><%= image_tag kunden.photo_gray.url %></td>
        <td><%= kunden.url %></td>
        <td><%= link_to 'Edit', edit_kunden_path(kunden),class: "btn btn-success" %></td>
        <td><%= link_to 'Delete', kunden, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kunden', new_kunden_path %>
