            <li class="dropdown dropdown-megamenu"> <!-- Lösungen -->
              <a class="dropdown-toggle" data-toggle="dropdown" data-target="#" href="#">
                Lösungen
                
              </a>
              <ul class="dropdown-menu">
                <li>
                  <div class="header-navigation-content">
                    <div class="row">
                      <div class="col-md-4 header-navigation-col">
                        <h4>Disco, Club & Events</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Astro Trainers</a></li>
                          <li><a href="shop-product-list.html">Basketball Shoes</a></li>
                          <li><a href="shop-product-list.html">Boots</a></li>
                          <li><a href="shop-product-list.html">Canvas Shoes</a></li>
                          <li><a href="shop-product-list.html">Football Boots</a></li>
                          <li><a href="shop-product-list.html">Golf Shoes</a></li>
                          <li><a href="shop-product-list.html">Hi Tops</a></li>
                          <li><a href="shop-product-list.html">Indoor and Court Trainers</a></li>
                        </ul>

                        <h4>Schulmensen & Kitas</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Base Layer</a></li>
                          <li><a href="shop-product-list.html">Character</a></li>
                          <li><a href="shop-product-list.html">Chinos</a></li>
                        </ul>

                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>Betriebe</h4><!-- Krankenhäuser -->
                        <ul>
                          <li><a href="shop-product-list.html">Base Layer</a></li>
                          <li><a href="shop-product-list.html">Character</a></li>
                          <li><a href="shop-product-list.html">Chinos</a></li>
                          <li><a href="shop-product-list.html">Combats</a></li>
                          <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                          <li><a href="shop-product-list.html">Fleeces</a></li>
                          <li><a href="shop-product-list.html">Gilets</a></li>
                          <li><a href="shop-product-list.html">Golf Tops</a></li>
                        </ul>

                        <h4>Gastronomie & Tourismus</h4>
                        <ul>
                          <li><a href="shop-product-list.html">Jackets</a></li>
                          <li><a href="shop-product-list.html">Bottoms</a></li>
                        </ul>

                      </div>
                      <div class="col-md-4 header-navigation-col">
                        <h4>Freizeitbetriebe </h4>
                        <ul>
                          <li><a href="shop-product-list.html">Belts</a></li>
                          <li><a href="shop-product-list.html">Chinos</a></li>
                          <li><a href="shop-product-list.html">Combats</a></li>
                          <li><a href="shop-product-list.html">Cricket Clothing</a></li>
                          <li><a href="shop-product-list.html">Fleeces</a></li>
                          <li><a href="shop-product-list.html">Gilets</a></li>
                          <li><a href="shop-product-list.html">Caps</a></li>
                          <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                        </ul>

                        <h4>Stadien & Arenen </h4>
                        <ul>
                          <li><a href="shop-product-list.html">Belts</a></li>
                          <li><a href="shop-product-list.html">Caps</a></li>
                          <li><a href="shop-product-list.html">Gloves, Hats and Scarves</a></li>
                        </ul>

                      </div>
                      <div class="col-md-12 nav-brands">
                        <ul>
                          <li class="brands"><a href="shop-product-list.html"><%= image_tag "navbar/loesungen/brands/disco.jpg" %></a></li>
                          <li class="brands"><a href="shop-product-list.html"><%= image_tag "navbar/loesungen/brands/schulmensa.jpg" %></a></li>
                          <li class="brands"><a href="shop-product-list.html"><%= image_tag "navbar/loesungen/brands/kantine-content1.jpg" %></a></li>
                          <li class="brands"><a href="shop-product-list.html"><%= image_tag "navbar/loesungen/brands/gastro-content1.png" %></a></li>
                          <li class="brands"><a href="shop-product-list.html"><%= image_tag "navbar/loesungen/brands/freizeitbetriebe.jpg" %></a></li>
                          <li class="brands"><a href="shop-product-list.html"><%= image_tag "navbar/loesungen/brands/Stadio.jpg" %></a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </li>