<li id="Loesungen" class="dropdown dropdown100 nav-catalogue">
  <a class="dropdown-toggle hidden-xs hidden-sm" data-toggle="dropdown" data-target="" href="#"> Lösungen</a>
  <!-- <a class="dropdown-toggle hidden-md hidden-lg" data-toggle="dropdown" data-target="" href=<%= root_path %>> Lösungen</a> -->
    
  <ul class="dropdown-menu">
    <li>
      <div class="header-navigation-content">
        <% Page.find_by(title: "Lösungen").children.where(visible_on_navbar: true).order(:order).each_with_index do |loesungen_child, index| %>    
          <% if [0,4].include? index  %>
            <div class="row">
          <% end %>

          <div class="menu-list col-md-3 col-sm-4 col-xs-6">
              <h4>
                <%= link_to loesungen_child.title, loesungen_child, class: "category-header" %> 
                <% if loesungen_child.pictogram.exists? %>
                  <%= image_tag loesungen_child.pictogram.url, class: "pictogram" %>
                <% end %>
              </h4>
              <p> 
                <%= link_to loesungen_child do %> 
                  <%= image_tag "#{ASSETS_PATH}navbar/loesungen/brands/#{loesungen_child.id}.jpg", class: "img-responsive" %>
                <% end %>
              </p>
<!--               <ul>
              <%# loesungen_child.children.where(visible_on_navbar: true).order(:order).each do |child| %>
                <li><%#= link_to child.title, child %></li>
              <%# end %>
              </ul> -->
          </div>

          <% if [3,7].include? index  %>
            </div>
          <% end %>

        <% end %>
<!--         <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="brand">
                <%#= link_to Page.find_by(title: "Disco, Club & Events"), title: "Disco, Club & Events" do %>
                  <%#= image_tag "navbar/loesungen/brands/disco.jpg", class: "img-responsive" %>
                <%# end %>
              </li>
              <li class="brand">
                <%#= link_to Page.find_by(title: "Freizeitcenter & Bowlingcenter"), title: "Freizeitcenter & Bowlingcenter" do %>
                  <%#= image_tag "navbar/loesungen/brands/freizeitbetriebe.jpg", class: "img-responsive" %>
                <%# end %>
              </li>
              <li class="brand">
                <%#= link_to Page.find_by(title: "Betriebsrestaurant & Mensa"), title: "Betriebsrestaurant & Mensa" do %>
                  <%#= image_tag "navbar/loesungen/brands/kantine-content1.jpg", class: "img-responsive" %>
                <%# end %>
              </li>
              <li class="brand">
                <%#= link_to Page.find_by(title: "Kliniken & Rehazentren"), title: "Kliniken & Rehazentren" do %>
                  <%#= image_tag "navbar/loesungen/brands/klinik.jpg", class: "img-responsive" %>
                <%# end %>
              </li>
              <li class="brand">
                <%#= link_to Page.find_by(title: "Gastronomie & Restaurant"), title: "Gastronomie & Restaurant"  do %>
                  <%#= image_tag "navbar/loesungen/brands/gastro-content1.png", class: "img-responsive" %>
                <%# end %>
              </li>
              <li class="brand">
                <%#= link_to Page.find_by(title: "Tourismus & Hotellerie"), title: "Tourismus & Hotellerie"  do %>
                  <%#= image_tag "navbar/loesungen/brands/tourismus.jpg", class: "img-responsive" %>
                <%# end %>
              </li>
              <li class="brand">
                <%#= link_to Page.find_by(title: "Schulverpflegung & Kitas"), title: "Schulverpflegung & Kitas" do %>
                  <%#= image_tag "navbar/loesungen/brands/schulmensa.jpg", class: "img-responsive" %>
                <%# end %>
              </li>
              <li class="brand">
                <%#= link_to Page.find_by(title: "Stadien & Arenen"), title: "Stadien & Arenen" do %>
                  <%#= image_tag "navbar/loesungen/brands/Stadio.jpg", class: "img-responsive" %>
                <%# end %>
              </li>
            </ul>
          </div>        
        </div>  -->       
      </div>
    </li>
  </ul>
</li>