<li id="Loesungen" class="dropdown dropdown100 nav-catalogue">
  <a class="dropdown-toggle" data-toggle="dropdown" data-target="<%= page_path Page.find_by(title: "Lösungen") %>" href="<%= page_path Page.find_by(title: "Lösungen") %>">
    Lösungen
    
  </a>
  <ul class="dropdown-menu">
    <li>
      <div class="header-navigation-content">
        <% Page.find_by(title: "Lösungen").children.each_with_index do |loesungen_child, index| %>    
          <% if [0,4].include? index  %>
            <div class="row">
          <% end %>

          <div class="menu-list col-md-3 col-sm-4 col-xs-6">
              <h4><%= loesungen_child.title %></h4>
              <ul>
              <% loesungen_child.children.each do |child| %>
                <li><%= link_to child.title, child %></li>
              <% end %>
              </ul>
          </div>

          <% if [3,7].include? index  %>
            </div>
          <% end %>

        <% end %>
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="brand"><a href="#"><%= image_tag "navbar/loesungen/brands/disco.jpg", class: "img-responsive" %></a></li>
              <li class="brand"><a href="#"><%= image_tag "navbar/loesungen/brands/schulmensa.jpg", class: "img-responsive" %></a></li>
              <li class="brand"><a href="#"><%= image_tag "navbar/loesungen/brands/kantine-content1.jpg", class: "img-responsive" %></a></li>
              <li class="brand"><a href="#"><%= image_tag "navbar/loesungen/brands/schulmensa.jpg", class: "img-responsive" %></a></li>
              <li class="brand"><a href="#"><%= image_tag "navbar/loesungen/brands/gastro-content1.png", class: "img-responsive" %></a></li>
              <li class="brand"><a href="#"><%= image_tag "navbar/loesungen/brands/freizeitbetriebe.jpg", class: "img-responsive" %></a></li>
              <li class="brand"><a href="#"><%= image_tag "navbar/loesungen/brands/disco.jpg", class: "img-responsive" %></a></li>
              <li class="brand"><a href="#"><%= image_tag "navbar/loesungen/brands/Stadio.jpg", class: "img-responsive" %></a></li>
            </ul>
          </div>        
        </div>        
      </div>
    </li>
  </ul>
</li>