<li class="<%= "active open" if con_act?(params[:controller],["blocks"] , params[:action], ["show", "edit", "index"]) %>">
  <a href="javascript:;">
  <i class="fa fa-twitch"></i>
  <span class="title">Blocks</span>
  <span class="<%= "selected" if con_act?(params[:controller],["blocks"] , params[:action], ["show", "edit", "index"]) %>"></span>
  <span class="arrow <%= "open" if con_act?(params[:controller],["blocks"] , params[:action], ["show", "edit", "index"]) %>"></span>
  </a>
  <ul class="sub-menu">
    <li class=<%= "active" if con_act?(params[:controller],["blocks"] , params[:action], ["index"])  %> >
      <%= link_to "Manage Blocks", blocks_path %>
    </li>  
  </ul>
</li>
