<!-- <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%#=Refinery::Core::site_name %></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
    </div>
  </div>
</nav> -->
<% if current_user && current_user.has_access? %>
  <%= render 'layouts/public/header/backend_link_bar' %>
<% end %>
<%= render 'layouts/public/header/pre_header' %>

<div class="header">
  <div class="container">
    <%= link_to root_path, class: "site-logo" do %>
      <% if SiteSetting.last %>
        <%= image_tag SiteSetting.last.logo.url, class: "img-responsive" %>
      <% else %>
        <%= image_tag "OPC_Logo_120.gif", class: "img-responsive" %>
      <% end %>
    <% end %>
    <%= render 'layouts/public/header/navbar' %>
    <%#= render 'megamenus/navbar' %>
  </div>
</div>