
<% if current_user && current_user.has_access? %>
  <%= render 'layouts/public/header/backend_link_bar' %>
<% end %>
<%= render 'layouts/public/header/pre_header' %>

<div class="header">
  <div class="container">
    <%= link_to root_path, class: "site-logo" do %>
      <% if SiteSetting.last %>
        <%= image_tag SiteSetting.last.logo.url, class: "img-responsive" %>
      <% else %>
        <%= image_tag "OPC_Logo_120.gif", class: "img-responsive" %>
      <% end %>
    <% end %>
    <%= render 'layouts/public/header/navbar' %>
  </div>
</div>
