<div class="row">
  <div class="col-xs-3">
    <%= link_to blog do %>
      <%= image_tag blog.thumbnail_image, class: "img-rounded", size: "70x70" %>
    <% end %>
    <hr>
    <p><%= blog.display_date  %></p>
  </div>
  <div class="col-xs-9">
    <h5> 
      <a href="<%= blog_path blog %> ">
        <%= raw blog.title %>
      </a> 
    </h5>
    <p><%= raw brief_text(blog) %></p>
  </div>
</div>