<div class="row">
  <div class="col-xs-3">
    <%= link_to blog do %>
      <%= image_tag blog.photo(:thumb),class: "img-rounded", size: "70x70" %>
    <% end %>
    <hr>
    <p><%= blog.created_at.strftime("%d/%m/%Y") %></p>
  </div>
  <div class="col-xs-9">
    <h5><%= link_to truncate(blog.title, length: 70, omission: '...'), blog %></h5>
    <p><%= sanitizer_except_br blog.body %></p>

  </div>
</div>