    <!-- BEGIN FOOTER -->
    <div class="footer">
      <div class="container">
        <div class="row">
          <!-- BEGIN COPYRIGHT -->
          <div class="col-md-6 col-sm-6 padding-top-10">
            <%= Time.now.year %> OPC<sup>®</sup>. Alle Rechte vorbehalten.
          </div>
          <!-- END COPYRIGHT -->
          <!-- BEGIN PAYMENTS -->
          <div class="col-md-6 col-sm-6">
            <ul class="list-inline pull-right">
              <li>
                <% if user_signed_in? %>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "menu" %>
                <% else %>
                  <%#= link_to t(".Anmelden"), "#", class: "menu", data: {toggle: "modal", target: "#log-in-modal"} %>
                  <%= link_to "Anmelden", new_user_session_path, class: "menu"%>
                <% end %>
              </li>
              <li><a href="#" class="menu">Sitemap</a></li>
              <li><%= link_to "Nutzungsbedingungen", Page.where(title: "Nutzungsbedingungen").last, class: "menu" %></li>
              <li><%= link_to "Impressum", Page.where(title: "Impressum").last, class: "menu" %></li>
            </ul>  
          </div>
        </div>
      </div>
    </div>