<%= render 'layouts/admin/head' %>
<%= render 'layouts/admin/navbar' %>

<div class="page-container">
  <%= render 'layouts/admin/sidebar' %>

  <%= flash_creator flash %>
  <%= yield %>
</div>

<%= render 'layouts/admin/footer' %>
