<%= render 'layouts/admin/head' %>
<%= render 'layouts/admin/navbar' %>

<div class="page-container">
  <%= render 'layouts/admin/sidebar' %>

  <div class="page-content-wrapper">
    <div class="page-content">
      <%= flash_creator flash %>
      <%= yield %>
    </div>
  </div>    
</div>

<%= render 'layouts/admin/footer' %>
