<%= render 'layouts/public/head' %>
<%= render 'layouts/public/header' %>
<!-- <span  class="hidden-xs hidden-sm" > -->
  <%= render 'slideshows/main_slideshow' if slide_show_visible? %>
<!-- </span> -->

<%= render "layouts/public/#{layout_selector}" %>

<%= render 'layouts/public/contact_popup' %>

<%= render 'layouts/public/footer' %>
